.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 10px;
}
.top-nav {
    height: 150px;
    width: 950px;
    background-color: green;
    display:flex;
    align-self:flex-start;
    margin: 10px;
}
.side-nav {
    height: 300px;
    width: 200px;
    align-self: flex-start;
    background-color: blue;
    padding: 5px;
    margin: 10px;

}
.main {
    flex-shrink:0;
    display:flex;
    height: 400px;
    width: 700px;
    background-color: red;
    flex-wrap: wrap;
    margin: 10px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin: 10px;

}

#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    align-self:center;
    justify-self:center ;
    margin:10px;    
}
.row {
    display:flex; 
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    
}

